[Unit]
Description=AlarmClock
After=websocketserver.service
[Service]
Type=idle
WorkingDirectory=/home/pi/alarmclock
ExecStart=/usr/local/bin/node /home/pi/alarmclock/alarm.js  > /home/pi/alarmclock/scripts/alarmClock.log 2>&1
User=pi

[Install]
WantedBy=websocketserver.service
