[Unit]
Description=Websocket server
After=network.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/alarmclock/scripts/websocketserver.py > /home/pi/alarmclock/scripts/websocketserver.log 2>&1
User=pi

[Install]
WantedBy=multi-user.target
