[Unit]
Description=Wifi reconnect
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/alarmclock/scripts
ExecStart=/home/pi/alarmclock/scripts/wifi_reconnection.sh
User=pi
Restart=on-failure

[Install]
WantedBy=multi-user.target
